.best {
    background-image: url('../img/bg.jpg');
  }
  
  .best_mb_1{
    justify-content: center;
  }

  .best__list {
    display: flex;
    text-align: center;
    flex:1;
  }
  
.best__item-desc{
    margin-top: 25px;
    font-family: 'ubuntu';
    font-size: 14px;
    font-weight: 400;
    color: #9a9998;
    line-height: 1.58em;;
}

  .best__item {
    margin-right: 20px;

    &meat__icon{
      margin-bottom: 30px;
    }
    &:last-child {
      margin-right: 0;
    }
    
  }

  .best__item-title{
    font-size:24px;
    font-family: lifehack;
    color:#2f3234;
}
    
.section__title_mb_30{
    color:#2f3234!important;
    text-align: center;
    
}
