.best {
    background-image: url('../img/bg.jpg');
  }
  
  .best__list {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
.best__item-desc{
    margin-top: 25px;
    font-family: 'ubuntu';
    font-size: 14px;
    font-weight: 400;
    color: #9a9998;
    line-height: 1.58em;;
}

  .best__item {
    margin-right: 20px;
    width: 310px;
  
    &:last-child {
      margin-right: 0;
    }
    
  }

  .best__item-title{
    margin-top:30px;
    font-size:24px;
    font-family: lifehack;
    color:#2f3234;
}
    
.section.section.best > div > h2{
    color:#2f3234;
    padding-top:75px;
    text-align: center;
    
}