.intro{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px 0;
  background-image: url('../img/main_texture.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.header{
  display: flex;
  align-items: center;
  width: 1040px;
}

.menu{
  &__list{
      display: flex;
  }
  &__item{
      display: flex;
      align-items: center;
      margin-left: 20px;
      &::before{
          content: '';
          display: flex;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background-color: #fff;
      }
  }
  &__link{
      margin-left: 20px;
      color: #fff;
      text-decoration: none;
  }
}

.main-content{
  display: flex;
  align-items: center;
  width: 875px;
  margin-right: 75px;
  &__desc{
      margin-left: 20px;
  }
  &__slogan{
  font-size: 65px;
  font-family: lifehack;
  color:#fff;
  line-height: 0.85em;
  }
}

.section__title{
  font-size: 72px;
  font-family: gagalin;
  color: #f9b43b;
  text-align: center;
}

.arrow-down{
  margin-top:95px;
}