.reviews{
  &__list{
      height: 100%;
      display: flex;
      flex-wrap: wrap;
  }
  &__item{
      position: relative;
      width: 25%;
      height: 50%;
      &:hover{
          .reviews__content{
              opacity: 1;
              transform: scale(1);
          }
      }
  }
  &__bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      filter: grayscale(100%);
      &_1{
          background-image: url('../img/reviews-1.jpg');
      }
      &_2{
          background-image: url('../images/content/photo-reviews/2.jpg');
      }
  }
  &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      padding: 0 20px;
      background-color: rgba($black, .7);
      height: 100%;
      opacity: 0;
      transform: scale(.8);
      transition: .5s;
  }
  &__title{
      margin-bottom: 30px;
      font-size: 14px;
      font-family: 'gagalin';
  }
  &__desc{
      margin-bottom: 10px;
      font-size: 14px;
      font-family: 'ubuntu';
      font-weight: 300;
      margin-bottom: 15px;
  }
}

.reviews-photo{
    width: 100%;
}